<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>MammaMia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Pizzaria MammaMia</div>
        
        <div>
            <ul>
                <li><a href="listar">Listar Menu Pizzas</a></li>
                <li><a href="adicionar">Adicionar nova Pizza</a></li>
                <li><a href="actualizar">Alterar dados Pizza</a></li>
                <li><a href="apagar">Apagar uma pizza</a></li>
            </ul>
        </div>
    </body>
</html>
