<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>MammaMia_Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Menu de Pizzas</div>
        
        <table>
            <tr>
                <td>Código</td>
                <td>Descrição</td>
                <td>Preço</td>
                <td>Imagem</td>
                <td>Editar</td>
                <td>Actualizar</td>
                <td>Apagar</td>
                
            </tr>
            <!-- Usar o ForEach do Java, repetir a linha 24, o numero da BD -->
            <tr th:each="item : ${modelo}">
                <td><span th:text="${item.codigo}"></span></td>
                <td><span th:text="${item.descricao}"></span></td>
                <td><span th:text="${item.preco}"></span></td>
                <td><span th:text="${item.imagem}"></span></td>
                
                <td><a th:href="@{'listarone?id=' + ${item.codigo}}"> Editar 
                    
                    
                    
              
                    </a>
                </td>
                
                
                
                <td><a th:href="@{'actualizar?id=' + ${item.codigo}}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" 
                             viewBox="0 0 24 24" stroke="currentColor" width="15px">
                              <path stroke-linecap="round" stroke-linejoin="round" 
                              stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                        </svg>
                    </a>
                </td>
                
                
                <td><a th:href="@{'apagar?id=' + ${item.codigo}}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" 
                             viewBox="0 0 24 24" stroke="currentColor" width="15px">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>  
                    </a>
                </td>
            
            
            </tr>
            
        </table>
        
        <a href="/">Home Page</a>
    </body>
</html>
